.copy-btn {
  padding: 6px 12px;
  font-size: 12px;
  margin-top: 8px;
  margin-right: 10px;
  background: #3498db;
  display: inline-block;
}

.show-all-btn {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif !important;
  padding: 4px 12px;
  background: #ecf0f1;
  color: #5dade2;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  display: inline-block;
  margin-left: 10px;
}
